/* --- menu header --- */
header {
    height: auto;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #e6eaee;
    position: fixed;
}

header > div:first-child {
    float: left;
}

header > div img {
    width: 120px;
    cursor: pointer;
}



header #profil-photo {
    float: right;
    color: #9fa9ba;
    font-size: 13px;
}

header #profil-photo div {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

header #profil-photo div img {
    max-height: 110%;
    max-width: 110%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center center;
}

header #profil-photo > img {
    margin-left: 5px;
}

li.profile-img {
    padding: 0;
    max-height: 300px;
    overflow: hidden;
    display:flex;
}
.profile-body h5 , h6{
    margin-bottom: 5px;
    margin-top: 12px;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-default{
    background-color: #9E7C59;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #ff5722b8;

    color:black;
}
.navbar-default .navbar-nav > li > a {
    color: azure !important;
}


img.profile-img{
    width: 30px;
    height: 30px;
}
.profile-img-nav{
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}
.dropdown-menu.dropdown-menu-animated.show  {
    width: 250px !important;
    padding: 18px !important;

}
.dropdown-menu>li {
    padding: 0 5px;
    margin: 2px 0;
}
.delete, .edit .view {
    margin-left: 5px;
    cursor: pointer;
}
// test 
.masthead {
padding-top: 35px;
}
.bg-title-h6 {
background-color: #A81843;
font-size: 16px;
color: #ffffff;
margin-top: 0px;
padding: 10px;
}
.border-navbar-left li {
    height: 58px;

}
.search-nav {
    height: 20px;
}
.navbar-nav .active .nav-link {
    height: 58px;
}
.navbar-static-top {
    height: 58px;

}

input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none; 
}


input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}