.select-style {
padding: 0;
margin: 0;
border: 1px solid #ccc;
width: 190px;
border-radius: 3px;
overflow: hidden;
background-color: #fff;

// background: #fff url("../images/arrow_sans_down.png") no-repeat 90% 50%;
}

.select-style select {
padding: 5px 8px;
width: 130%;
border: none;
box-shadow: none;
background-color: transparent;
background-image: none;
-webkit-appearance: none;
-moz-appearance: none;
// appearance: none;
}

.select-style select:focus {
outline: none;
}

div.list {
min-height: auto !important;
border-radius: 5px !important;
overflow: hidden;
padding: 0 !important;
position: relative;
margin-top: 20px !important;
}

div.list > div:first-child {
position: relative;
top: 0;
left: 0;
min-height: auto;
background-color: white;
padding: 15px 15px;
display: block;
}

div.news {
border-left: 4px solid #89C4F4;
}


div.nouveau-membre {
border-left: 4px solid #F25236;
}

div.avantage-club {
border-left: 4px solid #BE90D4;
}

div.resultat-competition {
border-left: 4px solid #FFB94E;
text-align: left;
}

div.alerte {
border-left: 4px solid #87D37C;
text-align: left;
}

.list-img {
height: 55px;
width: 55px;
border-radius: 50%;
overflow: hidden;
display: inline-block;
vertical-align: middle;
margin-right: 25px;
}

.list-img img {
width: 100%;
transform-origin: center center;
position: relative;
top: 50%;
transform: translateY(-50%);
}

.list-title {
display: inline-block;
vertical-align: middle;
color: #7c8ca5;
font-size: 13px;
}

.list-title a {
color: #7c8ca5;
text-decoration: none;
}

.list-title span {
display: block;
color: #354052;
font-weight: 600;
font-size: 15px;
}

div.list > div + img {
position: absolute;
top: 50%;
right: 30px;
transition: .3s all ease;
-moz-transition: .3s all ease;
-o-transition: .3s all ease;
-webkit-transition: .3s all ease;
-ms-transition: .3s all ease;
}

.rotate-arrow {
transform: rotate(180deg);
transition: .3s all ease;
-moz-transition: .3s all ease;
-o-transition: .3s all ease;
-webkit-transition: .3s all ease;
-ms-transition: .3s all ease;
}

/* --- detail --- */
.list-detail {
display: none;
background-color: white;
font-size: 13px;
padding: 20px;
text-align: center;
}

.line {
width: 100%;
height: 1px;
background-color: #EFF3F6;
display: none;
}

.list-detail div.image-wrapper {
display: inline-block;
padding: 5px;
border: 1px solid #bfc6d1;
border-radius: 3px;
}

.list-detail img {
max-width: 200px;
display: inline-block;
border-radius: 3px;
}

.list-detail div.detail-wrapper {
display: inline-block;
text-align: left;
}

.list-detail div.detail-wrapper span {
display: block;
color: #354052;
font-weight: 600;
font-size: 15px;
margin: 15px 0;
}



.btn-radius {
border-radius: 3px;
}

.btn-medium {
font-size: 0.9375em;
padding: 0.5375em 1.375em;
}

.btn-green {
color: #3CB371;
border-color: #3CB371;
}
.btn-green:hover {
background: #3CB371;
color: #fff;
border-color: #3CB371;		
}

/* -- delete button --- */
.delete-btn {
color: #e74c3c !important;
}

/* --- Voir plus --- */
.voir-plus {
padding: 8px 15px;
background-color: #40B474;
color: white !important;
border-radius: 3px;
}

.story-body img {
    width: 73rem;
    height: 36rem;
}
.boxmain{
    padding-left: 19.1rem !important;
    width: 91.9rem !important;
}
.story-body{
    width: 630px;
    margin:auto;
}



@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto:400);
@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
font-family: "brandico", sans-serif;
font-size: 1.5em;
transition: 0.5s color;
}
.brandico-facebook:hover {
color: #3b5998;
}
.brandico-twitter-bird:hover {
color: #00acee;
}
.brandico-tumblr:hover {
color: #34526f;
}
.brandico-linkedin:hover {
color: #0e76a8;
}

.body-title {
font-family: "Oswald";
text-transform: uppercase;
}
.body-title {
font-size: 2em;
border-bottom: 0.2em solid;
}
.body-title h1 {
font-size: 1.3em;
}
#content {

font-family: "Roboto";
}
#share {
border-top: 0.2em solid;
}
#share p {
font-family: "Oswald";
font-size: 1.4em;
text-transform: uppercase;
}
#share a {
text-decoration: none;
color: #0a0a0a;
}
