
// a {
//     color: #000000 !important;
// }
#maincontent .col-md-12 {
    background-color: #f9f9f9;
}
.panel-content {
    opacity: 0.7;
    background-color: black;
}
.panel.widget h4 {
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
    font-size: 20px;
}
.panel.widget p {
    margin: 30px 0 0;
    font-size: 20px;
    font-size: 14px;
    color: #DDD;
    display: block;
    max-height: 65px;
}
.panel.widget.bgimage {
    background-size: cover;
    background-position: center center;
    position: relative;
}
.panel.widget.center {
    text-align: center;
}


#main-content {
    padding-top: 110px;
    background-color: #f9f9f9;
}

/* --- Main wrapper --- */
div#main-wrapper {
    max-width: 1350px;
    height: auto;
    margin: 0 auto;
    background-color: #f9f9f9;
    height: 1130px;
}

div#main-wrapper > div {
    float: left;
    background-color: #f9f9f9;
}



div#col-middle h1 {
    font-weight: 300;
    font-size: 25px;
    margin-left: 10px;
}



/* --- Col left --- */




div#col-left li.title-menu {
    color: #9fa9ba;
    font-size: 13px;
    text-transform: uppercase;
    pointer-events: none;
}

div#col-left li i {
    color: #9fa9ba;
    font-weight: 500;
    font-size: 20px;
    vertical-align: middle;
    width: 30px;
}

div#col-left li {
    color: #354052;
    font-size: 13px;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
}

div#col-left li.active, div#col-left li.active * {
    color: #2298f0;
}

div#col-middle .col-middle-wrapper{
    border: 1px solid #e6eaee;
    background-color: white;
    width: 100%;
    height: auto;
    padding: 25px;
    border-radius: 3px;
    margin-top: 30px;
}

span.col-middle-title {
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin-bottom: 15px;
}

/* --- table --- */
h2 {
  text-align: center;
}

table caption {
	padding: .5em 0;
}
.p {
    text-align: center;
    padding-top: 140px;
    font-size: 14px;
  }



  @media screen and (min-width: 0){
    header span {
        font-weight: 400;
        font-size: 18px;
        display: none;
        vertical-align: middle;
        margin-left: 20px;
        color: #9fa9ba;
    }
}

@media screen and (min-width: 690px){
    header span {
        font-weight: 400;
        font-size: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 20px;
        color: #9fa9ba;
    }
}
  @media screen and (min-width: 0){
    div#col-left:before {
        background-color: #f9f9f9;
        border-radius: 3px;
        color: white;
        content: "Menu";
        display: inline-block;
        font-size: 12px;
        left: 50%;
        padding: 6px 20px;
        position: relative;
        top: 0;
        transform: translateX(-50%);
    }
    
    div#col-left {
        width: 100%;
        height: auto;
        display: block;
        position: fixed;
        z-index: 999;
        top: 75px;
        left: 0;
        background-color: #f9f9f9;
        padding: 10px;
        cursor: pointer;
        pointer-events: all;
    }
    
    div#col-left * {
        pointer-events: all;
    }
}
/* --- Col Middle --- */
@media screen and (min-width: 0){
    div#col-middle {
        margin-top: 50px;
        display: inline-block;
        width: 100%;
    }
}

@media screen and (min-width: 992px){
    div#col-middle {
        margin-top: 0;
        display: inline-block;
        width: 80%;
    }
}

  @media screen and (min-width: 992px){
    div#col-left:before {
        content: "";
        display: none;
    }
    
    div#col-left {
        width: 20%;
        height: auto;
        display: inline-block;
        position: relative;
        background-color: transparent;
        padding: 0;
        pointer-events: none;
    }
    
    div#col-left * {
        pointer-events: all;
    }
}

  @media screen and (min-width: 0){
    div#col-left ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 0;
        display: none;
        position: relative;
    }
}
    
@media screen and (min-width: 690px){
    div#col-left ul {
        list-style: none;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 0;
        display: none;
        left: 45%;
        position: relative;
        transform: translate3d(-50%);
    }
}

@media screen and (min-width: 992px){
    div#col-left ul {
        list-style: none;
        padding: 0;
        margin: 0;
        margin-left: 10px;
        margin-bottom: 30px;
        display: block;
        position: relative;
        left: 0;
        transform: none;
    }
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #e6eaee;
  }
}

