// home
@import "sidebare.scss";


.img-responsive{
    width: 100%;
    background-size:100%;
}

.div-article li {
    overflow: hidden;
}
.div-article ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bcolor{
    white-space: normal;
    overflow: hidden;
    background: #fff;
    position: relative;
    white-space: normal;
    width: 30rem;
}
.bcolor .tag {
    font-size: 1.3rem;
    line-height: 1.384;
    border-bottom: .1rem solid #000;
    color: #000;
    margin: 1.1rem 2.6rem 0;
    position: absolute;
    top: 17.4rem;
    text-decoration: none;
}
.bcolor .tag:hover {
opacity: .5;
}
a .img-responsive.img-height{
    display: block;
    height: 17.4rem;
    position: relative;
    bottom: 21px;
    width: 300px;
    z-index: 1;
}

img.img-responsive.img-height:hover {
    opacity: .5;
}
.bcolor h3, .bcolor h4 {
    margin: 3.6rem 1.6rem .5rem;
    font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;
    font-size: 2.4rem;
    line-height: 1.2;
    max-height: 9.6rem;
    overflow: hidden;
    color: #000;
    padding-bottom: .5rem;
}
.col {
        padding-left: 0px;
        padding-right: 0px;
}
.bcolor > a > p {
font-size: 1.5rem;
line-height: 1.6;
color: rgba(43,43,43,.7);
    height: auto;

// max-height: 18rem;
// overflow: hidden;
padding: 0 1.6rem 1.6rem;
}
#maincontent {
background: #F1F1F1;
overflow: hidden;
padding-top: 60px;
}
  


.img-responsive{
width: 100%;
background-size:100%;
}

.div-article{
width: 300px !important;
}
.div-article li {
overflow: hidden;
}
.div-article ul {
list-style: none;
margin: 0;
padding: 0;
}

img.img-responsive.img-height{
max-height: 174px !important;
}

img.img-responsive.img-height:hover {
opacity: .8; 
}

.slider-home {
    padding-top: 20px;
}
#news {
    padding:20px;
}
#jeux {
    padding:20px;
}

.slider {
    max-width: 945px;
    max-height: 245px;
}

.slide_viewer {
height: 245px;
overflow: hidden;
position: relative;
}

.slide_group {
height: 100%;
position: relative;
width: 100%;
}

.slide {
display: none;
height: 100%;
position: absolute;
width: 100%;
}

.slide:first-child {
display: block;
}

.slide:nth-of-type(1) {
background: #D7A151;
}

.slide:nth-of-type(2) {
background: #F4E4CD;
}

.slide:nth-of-type(3) {
background: #C75534;
}

.slide:nth-of-type(4) {
background: #D1D1D4;
}

.slide_buttons {
    left: 150px;
position: absolute;
right: 0;
text-align: center;
}

a.slide_btn {
color: #474544;
font-size: 42px;
margin: 0 0.175em;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
color: #428CC6;
cursor: pointer;
}

// .directional_nav {
// height: 340px;
// margin: 0 auto;
// max-width: 940px;
// position: relative;
// top: -300px;
// }

.previous_btn {
bottom: 0;
left: 5px;
margin: auto;
position: absolute;
top: 0;
}

.next_btn {
bottom: 0;
margin: auto;
position: absolute;
right: 5px;
top: 0;
}

.previous_btn, .next_btn {
cursor: pointer;
height: 65px;
opacity: 0.5;
-webkit-transition: opacity 0.4s ease-in-out;
-moz-transition: opacity 0.4s ease-in-out;
-ms-transition: opacity 0.4s ease-in-out;
-o-transition: opacity 0.4s ease-in-out;
transition: opacity 0.4s ease-in-out;
width: 65px;
}

.previous_btn:hover, .next_btn:hover {
opacity: 1;
}
.masthead-menu {
    width: 570px;
    margin: 0 auto;
    text-align: center;
    display:flex;
    padding:20px;
}
.masthead-menu  li {
    padding-right: 35px;
    text-decoration:none;
}
@media only screen and (max-width: 767px) {
.previous_btn {
    left: 50px;
}
.next_btn {
    right: 50px;
}
}
.div-box{
    max-height: 320px ;
    // padding-top: 40px;
    max-width: 945px;
}

.slide a {
    bottom: 0;
    left: 50%;
    margin: auto;
    position: absolute;
    top: 50%;
    }

.bord_rubrique {
    border-top-color: #1f0d67; 
    border-top: 3px solid;
    background-color:white;
}
 .entete_deroule {
    color: #1f0d67;
    
}

.entete_deroule {
    display: block;
    padding: 10px 0;
    margin: 0 0 16px;
    border-bottom: 1px solid #eef1f5;
    text-align: center;
        background-color:white;

}
.entete_deroule, #ariane_az a:hover, #ariane_az .obf:hover, .couleur_rubrique {
    color: #2e3942;
}
.tt5, .tt5_capital {
    font-size: 2rem;
    line-height: 120%;
    padding: 0 0 .3rem;
}
.box-home {
        padding-left: 5px;

}

//

$bg     : #F5F5F5;
$grey   : #797979;
$primary : #f89406;
body {
    background:$bg;
    font:15px open sans;
    letter-spacing:-.02em;
}

* {
    box-sizing:border-box;
}
main {
    width:100%;
    max-width:1200px;
    margin:2em auto;
    
    
}

icon {
    font-family:fontawesome;
}

.post:nth-child(3n -1){
    margin:0 2%;
}

.div-article-home {
    background:white;
    border-radius:3px;
    border:1px solid darken($bg,10%);
    overflow:hidden;
    box-shadow:0 3px 3px rgba(darken($bg,10%),.5);
    float:left;
    display: inline-block;

    .post-image {
        width:100%;
        height:0;
        padding-bottom:60%;
        overflow:hidden;
        position: relative;
        background-size:cover!important;
        background-position:center center!important;
        // Shadow over the image
        &:after {
            position: absolute;
            bottom: 0;
            left: 0;
            width:100%;
            height:50px;
            background:linear-gradient(rgba(0,0,0,.0), rgba(0,0,0,.2));
            z-index:2;
            content:"",
        }
        
        
        .post-author {
            background:$primary;
            padding:.3em 1em;
            color:white;
            display: inline-block;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index:10;
            letter-spacing:-0.07em;
        }
    }
    
    .post-card {
        padding:1em 1.5em;
        
        
        .post-title {
            font-weight:700;
            font-size:1.3em;
            margin:.8em 0 1em -.1em;
            letter-spacing:-0.08em;
            color:darken($grey,20%);
            text-decoration:none;
            display: inline-block;
            
            &:hover {
                color:darken($grey,40%);
            }
        }
        .post-date {
            color:$grey;
            padding-bottom:.5em;
            margin-bottom:.8em;
            font-size:.9em;
            border-bottom:1px solid darken($bg,10%);
        }
        .post-content {
            color:$grey;
            line-height:1.8em;
            height:9em;
            overflow:hidden;
            text-overflow:ellipsis;
        }
        .post-cat {
            text-transform:uppercase;
            color:$grey;
            font-size:.9em;
        }
        .post-read {
            text-decoration:none;
            text-transform:uppercase;
            color:$primary;
            font-weight:700;
            font-size:.9em;
            letter-spacing:-0.1em;
            margin-top:1em;
            display: inline-block;
            text-align:right;
            width: 100%;
            
            &:hover {
                color:darken($primary,10%);
            }
        }
        .post-share {
            margin-bottom:.7em;
            overflow: hidden;
            
            // Share Icon
            label {
                position: relative;
                z-index:2;
                icon {
                    margin-right:.5em;
                    cursor:pointer;
                    color:$grey;
                    
                    &:hover {
                        color:$primary;
                    }
                }
            }
            
            
            .post-share-options {
                display: inline-block;
                margin-left:-200px;
                opacity:0;
                transition:.3s cubic-bezier(0, 0, .58, 1);
                z-index:1;
                position: relative;
                a {
                    text-decoration:none;
                    color:$grey;
                    display: inline-block;
                    width:1em;
                    text-align:center;
                    font-size:1.2em;
                    
                    &:hover {
                        color:$primary;
                    }
                }
            }
            
            // Hide the checkbox
            input[type=checkbox]{
                display:none;
            }
            
            input:checked + label{
                .post-share-options {
                    margin-left:0;
                    opacity:1
                }
            }
        }
        
    }
}