// home

@font-face {
    font-family: Segoe UI Semilight;
    src: url('/public/fonts/segoeui.tff');
}
// .jumbotron{
//         // background-image: url("./storage/images/February2018/0ir4sRVUAJe7qnoSB0yJ.png");
//     }
.img-responsive{
        width: 100%;
        background-size:100%;
    }

.div-article li {
    overflow: hidden;
}
.div-article ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.bcolor{
    white-space: normal;
    overflow: hidden;
    background: #fff;
    position: relative;
    white-space: normal;
    width: 30rem;
}
.bcolor .tag {
    font-size: 1.3rem;
    line-height: 1.384;
    border-bottom: .1rem solid #000;
    color: #000;
    margin: 1.1rem 2.6rem 0;
    position: absolute;
    top: 17.4rem;
    text-decoration: none;
}
.bcolor .tag:hover {
opacity: .5;
}
a .img-responsive.img-height{
    display: block;
    height: 17.4rem;
    position: relative;
    bottom: 21px;
    width: 300px;
    z-index: 1;
}

img.img-responsive.img-height:hover {
    opacity: .5;
}
.bcolor h3, .bcolor h4 {
    margin: 3.6rem 1.6rem .5rem;
    font-family: "Segoe UI Semilight","Segoe WP Semilight","Segoe WP","Segoe UI",Arial,Sans-Serif;
    font-size: 2.4rem;
    line-height: 1.2;
    max-height: 9.6rem;
    overflow: hidden;
    color: #000;
    padding-bottom: .5rem;
}
.col {
        padding-left: 0px;
        padding-right: 0px;
}
.bcolor > a > p {
font-size: 1.5rem;
line-height: 1.6;
color: rgba(43,43,43,.7);
    height: auto;

// max-height: 18rem;
// overflow: hidden;
padding: 0 1.6rem 1.6rem;
}
#maincontent {
background: #F1F1F1;
overflow: hidden;
padding-top: 60px;
}
.well {
    max-height: 242px;
 overflow: hidden;
}    


.img-responsive{
width: 100%;
background-size:100%;
}

.div-article{
width: 300px !important;
}
.div-article li {
overflow: hidden;
}
.div-article ul {
list-style: none;
margin: 0;
padding: 0;
}

img.img-responsive.img-height{
max-height: 174px !important;
}
.well {
padding: 0px !important;
background-color: #FFFFFF;
}
img.img-responsive.img-height:hover {
opacity: .8; 
}
.well a:first-of-type:focus h3,
.well > a:first-of-type:focus h4,
.well > a:first-of-type:hover h3,
.well > a:first-of-type:hover h4 {
text-decoration: underline;
}
.well h3, .well h4 {
font-size: 2.4rem;
line-height: 1.2;
max-height: 9.6rem;
overflow: hidden;
padding-bottom: .5rem;
}  
.slider-home {
    padding-top: 20px;
}
#news {
    padding:20px;
}
#jeux {
    padding:20px;
}
jumbotron {
    max-width: 945px;
max-height: 245px;
}
.slider {
    max-width: 945px;
    max-height: 245px;
}

.slide_viewer {
height: 245px;
overflow: hidden;
position: relative;
}

.slide_group {
height: 100%;
position: relative;
width: 100%;
}

.slide {
display: none;
height: 100%;
position: absolute;
width: 100%;
}

.slide:first-child {
display: block;
}

.slide:nth-of-type(1) {
background: #D7A151;
}

.slide:nth-of-type(2) {
background: #F4E4CD;
}

.slide:nth-of-type(3) {
background: #C75534;
}

.slide:nth-of-type(4) {
background: #D1D1D4;
}

.slide_buttons {
left: 0;
position: absolute;
right: 0;
text-align: center;
}

a.slide_btn {
color: #474544;
font-size: 42px;
margin: 0 0.175em;
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-ms-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
color: #428CC6;
cursor: pointer;
}

.directional_nav {
height: 340px;
margin: 0 auto;
max-width: 940px;
position: relative;
top: -300px;
}

.previous_btn {
bottom: 0;
left: 5px;
margin: auto;
position: absolute;
top: 0;
}

.next_btn {
bottom: 0;
margin: auto;
position: absolute;
right: 5px;
top: 0;
}

.previous_btn, .next_btn {
cursor: pointer;
height: 65px;
opacity: 0.5;
-webkit-transition: opacity 0.4s ease-in-out;
-moz-transition: opacity 0.4s ease-in-out;
-ms-transition: opacity 0.4s ease-in-out;
-o-transition: opacity 0.4s ease-in-out;
transition: opacity 0.4s ease-in-out;
width: 65px;
}

.previous_btn:hover, .next_btn:hover {
opacity: 1;
}
.masthead-menu {
    width: 570px;
    margin: 0 auto;
    text-align: center;
    display:flex;
    padding:20px;
}
.masthead-menu  li {
    padding-right: 35px;
    text-decoration:none;
}
@media only screen and (max-width: 767px) {
.previous_btn {
    left: 50px;
}
.next_btn {
    right: 50px;
}
}
.div-box{
    max-height: 320px ;
    padding-top: 40px;
    max-width: 945px;
}