/* --- menu header --- */
header {
    height: auto;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-bottom: 1px solid #e6eaee;
    position: fixed;
}

header > div:first-child {
    float: left;
}

header > div img {
    width: 120px;
    cursor: pointer;
}



header #profil-photo {
    float: right;
    color: #9fa9ba;
    font-size: 13px;
}

header #profil-photo div {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

header #profil-photo div img {
    max-height: 110%;
    max-width: 110%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform-origin: center center;
}

header #profil-photo > img {
    margin-left: 5px;
}

li.profile-img {
    padding: 0;
    max-height: 300px;
    overflow: hidden;
    display:flex;
}
.profile-body h5 , h6{
    margin-bottom: 5px;
    margin-top: 12px;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-default{
    background-color: #35495D;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #29BB9C;
}
.navbar-default .navbar-nav > li > a {
    color: azure !important;
}

.navbar-nav .active .nav-link {
    height: 58px;
}
img.profile-img{
    width: 30px;
    height: 30px;
}
.profile-img-nav{
    height: 60px;
    width: 60px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
}
.dropdown-menu.dropdown-menu-animated.show  {
    width: 250px !important;
    padding: 18px !important;

}
.dropdown-menu>li {
    padding: 0 5px;
    margin: 2px 0;
}
.delete, .edit .view {
    margin-left: 5px;
    cursor: pointer;
}
// test 
.masthead {
padding: 35px;
}
.bg-title-h6 {
background-color:red;
font-size: 16px;
color: #ffffff;
margin-top: 0px;
padding: 10px;
}
.border-navbar-left {
    border-left: 2px solid;

}