.continu-home {
    padding: 0px !important;
    background-color: #FFFFFF;
    }
.continu-home  a:first-of-type:focus h3,
.continu-home  > a:first-of-type:focus h4,
.continu-home  > a:first-of-type:hover h3,
.continu-home  > a:first-of-type:hover h4 {
text-decoration: underline;
}
.continu-home  h3, .continu-home  h4 {
font-size: 2.4rem;
line-height: 1.2;
max-height: 9.6rem;
overflow: hidden;
padding-bottom: .5rem;
}  